/* 
 * This is the CSS for the Shopping List App
 * 
 *
 */

html {
	font-family: "Gill Sans Extrabold", sans-serif;
}

div {
	font-size: 15px;
}


h1 {
    font-size: 15px;
 	color: grey;
}


h2 {
 	font-size: 12px;
}


p {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}


.itemToSelect {
	/*border-style: solid;*/
}


.quantity {
	display: inline-flex;
}


.plusBt {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px;
    cursor: pointer;
}

.minusBt {
	background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 0px px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px;
    cursor: pointer;
}


.checkForPrint {
 	display: inline-flex;
 	width: 10px;
 	height: 10px;
 	border-style: solid;
}


/* @media section  */
@media print  { .noprint  { display: none; } input { display: none; } .plusBt { display: none; } .minusBt { display: none; } }
@media screen { .noscreen { display: none; } .checkForPrint { display: none; } }

